@import "compass";
@import "variables";
@import "mixins";

@import "bootstrap-compass";
@import "bootstrap";

@import "base";

.body{
  font-family: raleway-regular;
}
.content-section-heading{
  font-size: 35px;
  font-family: raleway-medium;
  color: #313131;
  padding: 30px 0px;
}
.main-nav{
  background-color: #fff;
  border-color: #ccc;
  box-shadow: 0px 0px 5px #ccc;
}
.navbar-nav{
  float: right;
  min-height: 70px;
}
.navbar{
  margin-bottom: 0px;
}
.navbar-inverse .navbar-nav > li > a{
  margin-top: 10px;
  color: #3B9DFF;
  font-size: 16px;
  font-family: raleway-regular;
}
.navbar-header img{
  margin-top: 20px;
}
.register a {
  padding: 0px 20px;
  color: #fff !important;
  background-color: #3B9DFF;
}

/* header, nav css end */


#main-banner{
  color: #fff;
  background-color: rgba(0, 0, 0, 0.81) ;
  background-attachment: scroll;
  background-image: url('../img/home-banner.png') ;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  z-index: 1;
  height: 560px;
  width: 100%;
}
.banner-login-btn{
 margin: 0 auto;
 text-align: center;
 padding: 10% 0px;
}
.banner-login-btn h2{
  padding: 30px 0px 35px;
  font-size: 35px;
  font-family: raleway-regular;
  font-weight: bold;
  word-spacing: 5px;
}

/* banner css end */

#work{
  margin: 35px 0px;
}
#work h2{
  margin-bottom: 53px;
}
.work-1,
.work-2,
.work-3
{
  width: 170px;
  height: 200px;
  z-index: 999;
  vertical-align: middle;
  margin: 0 auto;
  margin-bottom: 60px;
}

.work-1{
  background-image: url('../img/work-ico-1.png') ;
}
.work-1:hover{
  background-image: url('../img/work-ico-1-ho.png') ;
}
.work-2{
  background-image: url('../img/work-ico-2.png') ;
}
.work-2:hover{
  background-image: url('../img/work-ico-2-ho.png') ;
}
.work-3{
  background-image: url('../img/work-ico-3.png') ;
}
.work-3:hover{
  background-image: url('../img/work-ico-3-ho.png') ;
}
.work-content p{
  font-size: 15px;
  font-family: raleway-regular;
}
.work-content p span{
  font-weight: bold;
  color: #399CFF;
}

/* work css end */
#happy-users{
  margin-bottom: 93px;
}
.user-1{
  margin-bottom: 30px;
}
.user-pic img{
  border-radius: 50%;
}
.start-int-comma,
.end-int-comma
{
  text-align: center;
}
.user-cmt{
  font-size: 17px;
  line-height: 30px;
  padding: 5px
}

/* happy user css end */

.schedule-cnt-text{
  font-size: 16px;
  line-height: 30px;
  padding: 0px 20%;
  margin-bottom: 53px;
}
#schedule-connect h2{
  margin-bottom: 0px;
}
.schedule-ban-img{
  background-color: rgba(0, 0, 0, 0.81) ;
  background-attachment: scroll;
  background-image: url('../img/schedule-bg.png') ;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 580px;
  width: 100%;
  z-index: 1;
}
.schedule-content{
  padding: 100px 0px 0px;
}
.schedule-content h3{
  color: #fff;
  font-family: raleway-medium;
  font-size: 18px;
}
.schedule-content p{
  color: #fff;
  font-size: 15px;
  padding: 0px 10px;
}

/* schedule css end */

#join-now-btn{
  margin: 93px 0px;
}
#join-now-btn a{
  padding: 12px 30px;
  color: #fff;
  background-color: #399CFF;
  font-size: 25px;
  outline: 0 none;
  text-decoration: none;
}
#join-now-btn a:hover{
  text-decoration: none;
  background-color: #097AEC;
  outline: 0 none;
}

#footer{
  background-color: #EFEFEF;
  padding: 93px 0px;
}
#footer h3{
  color: #ccc;
  margin-top: 50px;
}
.social-media-grp{
  margin-left: -50px;
}

.social-media-grp ul li{
  display: inline-block;
  clear: both;
  list-style: none;


}
.social-media-grp ul li img{
  float: left;
  padding: 0px 20px;
}

.carousel-indicators li{
  color: #ccc;
}
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}



html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
}

.item:nth-child(1) {
}

.item:nth-child(2) {
}

.item:nth-child(3) {
}

@media (min-width: 992px) and (max-width: 1199px){
  .banner-login-btn{
    padding: 5% 0;
  }
  .banner-login-btn h2{
    font-size: 30px;
    line-height: 30px;
  }
  #main-banner{
    height: 420px;
  }
  .nav-toogle-btm{
    background-color: #3B9DFF;
    border: none;
  }
  .navbar-header img{
    margin-top: 10px;
    margin-left: 10px;
  }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: #ccc;
  }
  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
    color: #555;
  }
  .register a:hover {
    background-color: #666 !important;
  }
  #work{
    margin: 0px;
  }
  #work h2,
  .content-section-heading
  {
    margin-bottom: 30px;
    font-size: 33px;
  }
  .content-section-heading{
    padding: 15px;
  }
  .work-1,
  .work-2,
  .work-3{
    width: 120px;
    height: 141px;
    background-size: 120px;
    margin-bottom: 22px;
    }
  .work-content p{
    margin-bottom: 30px;
  }
  .start-int-comma img,
  .end-int-comma img
  {
    width: 50px;
    height: 50px;
  }
  .user-cmt{
    font-size: 15px;
    text-align: center;
    padding: 20px;
  }
  .schedule-cnt-text{
    padding: 0px 4%;
    font-size: 15px;
  }
  .schedule-ban-img{
    height: 100%;
    width:100%;
    background-size: 903px;
  }
  .schedule-content{
    padding: 50px 0px 0px;
  }
  .sche-ico{
    padding-bottom: 30px;
  }
  .sche-ico span{
    display: block;
    height: 60px;
  }
  .schedule-content h3{
    height: 40px;
  }
  .schedule-content p{
    padding: 0px 5px;
  }
  .sche-ico img{
    width: 40px;
  }
  #join-now-btn{
    margin: 63px 0px;
  }
  #join-now-btn a{
    font-size: 20px;
    padding: 15px 38px;
  }
  #happy-users{
    margin-bottom: 53px;
  }
  .social-media-grp{
    margin-left: -40px;
  }
  .social-media-grp ul li img{
    padding: 0px;
    height: 40px;
    width: 40px;
  }
  #footer{
    padding: 45px 0px;
  }
  #footer h3{
    font-size: 12px;
    margin: 0px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .banner-login-btn{
    padding: 5% 0;
  }
  .banner-login-btn h2{
    font-size: 30px;
    line-height: 30px;
  }
  #main-banner{
    height: 420px;
  }
  .nav-toogle-btm{
    background-color: #3B9DFF;
    border: none;
  }
  .navbar-header img{
    margin-top: 10px;
    margin-left: 10px;
  }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: #ccc;
  }
  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
    color: #555;
  }
  .register a:hover {
    background-color: #666 !important;
  }
  #work{
    margin: 0px;
  }
  #work h2,
  .content-section-heading
  {
    margin-bottom: 30px;
    font-size: 33px;
  }
  .content-section-heading{
    padding: 15px;
  }
  .work-1,
  .work-2,
  .work-3{
    width: 120px;
    height: 141px;
    background-size: 120px;
    margin-bottom: 22px;
    }
  .work-content p{
    margin-bottom: 30px;
  }
  .start-int-comma img,
  .end-int-comma img
  {
    width: 25px;
    height: 25px;
  }
  .user-cmt{
    font-size: 15px;
    text-align: center;
    padding: 20px;
  }
  .schedule-cnt-text{
    padding: 0px 4%;
    font-size: 15px;
  }
  .schedule-ban-img{
    height: 100%;
    width:100%;
    background-size: 903px;
  }
  .schedule-content{
    padding: 50px 0px 0px;
  }
  .sche-ico{
    padding-bottom: 30px;
  }
  .sche-ico img{
    width: 50px;
  }
  #join-now-btn{
    margin: 63px 0px;
  }
  #join-now-btn a{
    font-size: 20px;
    padding: 15px 38px;
  }
  #happy-users{
    margin-bottom: 53px;
  }
  .social-media-grp{
    margin-left: -40px;
  }
  .social-media-grp ul li img{
    padding: 0px;
    height: 40px;
    width: 40px;
  }
  #footer{
    padding: 45px 0px;
  }
  #footer h3{
    font-size: 12px;
    margin: 0px;
  }
 }

@media (max-width: 767px){
  .banner-login-btn h2{
    font-size: 25px;
    line-height: 28px;
  }
  #main-banner{
    height: 420px;
  }
  .nav-toogle-btm{
    background-color: #3B9DFF;
    border: none;
  }
  .navbar-header img{
    margin-top: 10px;
    margin-left: 10px;
  }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: #ccc;
  }
  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
    color: #555;
  }
  .nav-drop-bg{
    background-color: #f9f9f9;
  }
  .register a:hover {
    background-color: #666 !important;
  }
  #work{
    margin: 0px;
  }
  #work h2,
  .content-section-heading
  {
    margin-bottom: 16px;
    font-size: 30px;
  }
  .content-section-heading{
    padding: 15px;
  }
  .work-1,
  .work-2,
  .work-3{
    width: 100px;
    height: 118px;
    background-size: 100px;
    margin-bottom: 22px;
    }
  .work-content p{
    margin-bottom: 30px;
  }
  .start-int-comma img,
  .end-int-comma img
  {
    width: 25px;
    height: 25px;
  }
  .user-cmt{
    font-size: 15px;
    text-align: center;
    padding: 20px;
  }
  .schedule-cnt-text{
    padding: 0px 4%;
    font-size: 15px;
  }
  .schedule-ban-img{
    height: 100%;
    width:100%;
    background-size: 643px;
  }
  .schedule-content{
    padding: 50px 0px 0px;
  }
  .sche-ico{
    padding-bottom: 30px;
  }
  .sche-ico img{
    width: 40px;
  }
  #join-now-btn{
    margin: 53px 0px;
  }
  #join-now-btn a{
    font-size: 20px;
    padding: 15px 38px;
  }
  #happy-users{
    margin-bottom: 53px;
  }
  .social-media-grp{
    margin-left: -40px;
  }
  .social-media-grp ul li img{
    padding: 0px;
    height: 40px;
    width: 40px;
  }
  #footer{
    padding: 45px 0px;
  }
  #footer h3{
    font-size: 12px;
    margin: 0px;
  }
}
@media (max-width: 480px){
  .banner-login-btn h2{
    font-size: 20px;
    line-height: 28px;
  }
  #main-banner{
    height: 420px;
  }
  .nav-toogle-btm{
    background-color: #3B9DFF;
    border: none;
  }
  .navbar-header img{
    margin-top: 10px;
    margin-left: 10px;
  }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: #ccc;
  }
  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
    color: #555;
  }
  .nav-drop-bg{
    background-color: #f9f9f9;
  }
  .register a:hover {
    background-color: #666 !important;
  }
  #work{
    margin: 0px;
  }
  #work h2,
  .content-section-heading
  {
    margin-bottom: 16px;
    font-size: 24px;
  }
  .content-section-heading{
    padding: 15px;
  }
  .work-1,
  .work-2,
  .work-3{
    width: 80px;
    height: 94px;
    background-size: 80px;
    margin-bottom: 22px;
    }
  .work-content p{
    margin-bottom: 30px;
  }
  .start-int-comma img,
  .end-int-comma img
  {
    width: 25px;
    height: 25px;
  }
  .user-cmt{
    font-size: 15px;
    text-align: center;
    padding: 20px;
  }
  .schedule-cnt-text{
    padding: 0px 4%;
    font-size: 15px;
  }
  .schedule-ban-img{
    height: 100%;
    width:100%;
    background-size: 293px;
  }
  .schedule-content{
    padding: 50px 0px 0px;
  }
  .sche-ico{
    padding-bottom: 30px;
  }
  .sche-ico img{
    width: 40px;
  }
  #join-now-btn{
    margin: 33px 0px;
  }
  #join-now-btn a{
    font-size: 16px;
    padding: 9px 18px;
  }
  #happy-users{
    margin-bottom: 53px;
  }
  .social-media-grp{
    margin-left: -40px;
  }
  .social-media-grp ul li img{
    padding: 0px;
    height: 40px;
    width: 40px;
  }
  #footer{
    padding: 45px 0px;
  }
  #footer h3{
    font-size: 12px;
    margin: 0px;
  }
}

@media (max-width: 320px){

  .banner-login-btn h2{
    font-size: 20px;
    line-height: 28px;
  }
  #main-banner{
    height: 420px;
  }
  .nav-toogle-btm{
    background-color: #3B9DFF;
    border: none;
  }
  .navbar-header img{
    margin-top: 10px;
    margin-left: 10px;
  }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: #ccc;
  }
  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
    color: #555;
  }
  .nav-drop-bg{
    background-color: #f9f9f9;
  }
  .register a:hover {
    background-color: #666 !important;
  }
  #work{
    margin: 0px;
  }
  #work h2,
  .content-section-heading
  {
    margin-bottom: 16px;
    font-size: 24px;
  }
  .content-section-heading{
    padding: 15px;
  }
  .work-1,
  .work-2,
  .work-3{
    width: 80px;
    height: 94px;
    background-size: 80px;
    margin-bottom: 22px;
    }
  .work-content p{
    margin-bottom: 30px;
  }
  .start-int-comma img,
  .end-int-comma img
  {
    width: 25px;
    height: 25px;
  }
  .user-cmt{
    font-size: 15px;
    text-align: center;
    padding: 20px;
  }
  .schedule-cnt-text{
    padding: 0px 4%;
    font-size: 15px;
  }
  .schedule-ban-img{
    height: 100%;
    width:100%;
    background-size: 293px;
  }
  .schedule-content{
    padding: 50px 0px 0px;
  }
  .sche-ico{
    padding-bottom: 30px;
  }
  .sche-ico img{
    width: 40px;
  }
  #join-now-btn{
    margin: 33px 0px;
  }
  #join-now-btn a{
    font-size: 16px;
    padding: 9px 18px;
  }
  #happy-users{
    margin-bottom: 53px;
  }
  .social-media-grp{
    margin-left: -40px;
  }
  .social-media-grp ul li img{
    padding: 0px;
    height: 40px;
    width: 40px;
  }
  #footer{
    padding: 45px 0px;
  }
  #footer h3{
    font-size: 12px;
    margin: 0px;
  }
}