.background-img.profile
  .authete
    .col-md-5.col-sm-12.authentic-profile-info
      .container-fluid     
        .col-sm-4.col-md-4.col-xs-5
          .profile-img
            =image_tag ('profile-img.png'), class: 'img-circle'
            .rating.text-center
              i.glyphicon.glyphicon-star
              i.glyphicon.glyphicon-star
              i.glyphicon.glyphicon-star
              span
                i.glyphicon.glyphicon-star
                i.glyphicon.glyphicon-star
        .col-sm-8.col-md-8.col-xs-7
          .profile-data
            h3 Bruce Wayne
            p 
              |Dirt Bike racer
              br/
              |22 years old 
            p
              i.glyphicon.glyphicon-map-marker
              | Madrid, Span
            p
              span.circle
              |Offline
      .container-fluid
        .profile-meta-tab
            span Training
            span Help
            span Motivation
            span Supports
            span Guide

      .container-fluid
        .row
          ul.schedule
            li.time
              strong 20 minutes
            li.price
              strong $40
            li
              .schedule-btn.btn
                |Schedule
      .container-fluid
        .discription
          p
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus